body {
    font-family: sans-serif;
    background-color: skyblue;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container
    {
    max-width: 700;
    color: brown;
    margin: auto;
    font-family: sans serif;
    padding-left: 50px;
    padding-right: 50px;
    }
